@import url(https://fonts.googleapis.com/css?family=Roboto:500);
* {
  box-sizing: border-box;
}

/* General Styling */
.app,
header,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

body {
  background-color: #1b1d24;
  color: #eee;
  font-size: 0.875rem;
}

img {
  margin: 8px 0;
}

h2 {
  margin: 0.625rem 0;
}

p {
  margin: 0.5rem 0;
}

ul {
  padding: 0;
  list-style: none;
}

.events-displayed__input,
.search-bar {
  height: 36px;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid #30333a;
  background-color: #1b1d24;
  color: #828d99;
}

button {
  height: 1.75rem;
  border-radius: 0.25rem;
  margin: 0.5rem 0 0 0;
  outline: none;
  cursor: pointer;
  background-color: #c52f57;
  color: #eee;
  border: 1px inset #30333a;
}

/* City Search Component */
.city-search {
  margin: auto;
}

.search-bar {
  width: 250px;
  display: flex;
  align-items: center;
}

.search-bar__icon {
  padding: 0 4px;
}

.search-bar__input,
.search-bar__input:focus {
  color: #828d99;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.suggestions {
  width: 235px;
  position: absolute;
  z-index: 2;
  justify-self: center;
  margin: 0 7.5px;
  top: 124px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.suggestions > li {
  text-align: left;
  padding: 0.5rem;
  background-color: #30333a;
  cursor: default;
  list-style: none;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.suggestions > li:hover {
  background-color: #c52f57;
  color: black;
}

/* Event List */
.event-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}

/* Event Card */
.event-card {
  max-width: 65ch;
  padding: 0.5rem 0.5rem 1.125rem 0.5rem;
  position: relative;
  background-color: #1e2127;
  margin: 0.5rem auto;
  border-radius: 0.625rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition: all ease-in-out 0.2s;
}

.event-card:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.event-card__date,
.event-card__location {
  color: #828d99;
}

.event-card__details-toggle {
  position: absolute;
  right: 0.5rem;
  bottom: 1.125rem;
}

/* Number of Events */
.events-displayed {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 250px;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 1rem;
  color: #828d99;
}

.events-displayed__input {
  width: 50px;
  margin-left: 1rem;
  text-align: center;
}

.error-alert {
  width: 100%;
}

/* Data Vis */
.data-vis-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  order: 1;
  width: 100%;
}

.city-data .recharts-surface {
  overflow: visible;
  padding-bottom: 1.25rem;
}

.genre-data,
.city-data {
  margin: 0.5rem 5%;
  border-radius: 0.625rem;
  padding: 1.125rem 0;
  background-color: #1e2127;
}

.data-title {
  margin: 0;
}

/* Media Queries */
@media all and (min-width: 65em) {
  main {
    flex-direction: row;
    align-items: flex-start;
  }

  .data-vis-wrapper {
    order: 0;
    align-items: flex-end;
    margin-right: 1rem;
  }

  /* Responsive Container refused to work inside my flexbox */
  .genre-data,
  .city-data {
    width: 100%;
    max-width: 65ch;
    margin: 0.5rem 0;
  }

  .event-list {
    align-items: flex-start;
    margin: 0 0 0 1rem;
  }

  .event-list__item {
    width: 100%;
  }

  .event-card {
    margin: 0.5rem 0;
  }
}
/*

.app * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

.display-none {
  display: none;
}
.showSuggestions {
  display: block;
}

input[type='text'],
input[type='number'] {
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.search-bar {
  width: 250px;
  margin-top: 2rem;
}

.alert {
  position: absolute;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  max-width: 300px;
  margin: auto;
  position: relative;
}

.event-list {
  margin-top: 2rem;
}

.suggestions {
  width: 250px;
  position: absolute;
  z-index: 2;
  align-self: center;
  margin: 0;
  top: 75px;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.event-card {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

.event-card__details-toggle {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.event-card__description {
  overflow-x: hidden;
}

.numberOfEvents {
  width: 200px;
  margin: 20px auto;
  text-align: center;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.Alert {
  position: fixed;
  top: 20px;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}
.recharts-surface {
  overflow: visible;
}

.login-button {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949;
  display: inline-block;
  transition: all 0.4s ease 0s;
  min-width: 10rem;
  margin: 1rem;
}

.google-btn {
  width: 184px;
  height: 42px;
  margin: 1rem;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
  height: 18px;
}
.btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: 'Roboto';
}

@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
} */
